body {
  margin: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

button {
  color: #1890ff;
  background-color: transparent;
  border: none;
}

/* Navigation */
.nav_link {
  display: inline;
  color: #1890ff;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  padding: 20px;
  height: 55px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .nav_link {
    padding: 18px 10px;
  }
}

.nav_link:hover {
  border-bottom: 1px solid #1890ff;
}

.link_active {
  border-bottom: 1px solid #1890ff;
}

/* Favorite Link */
.hover {
  display: none;
}

.active:hover .hover {
  display: block;
}
